.btn {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 36px;
  background-color: inherit;

  cursor: pointer;
}
